
/* Overall Style */
:root {
    --dark: darkslategrey;
    --highlight: orange;
    --light: white;
}
/* Overall Style */


/* Header Style */

header {
    padding: 40px;
    background-color: var(--dark);
    color: var(--highlight);
    /* background-image: url('./Assets/Banner.png'); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 20px; */
}

.title {
    float: left;
    color: var(--highlight);
    font-size: x-large;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    justify-content: center;
}

.navbar li {
    padding: 10px;
}
/* Header Style */

#about {
    margin: 2%;
    display: flex;
    color: var(--light);
    background-color: var(--dark);
    border: 20px;
}

#about p {
    margin: auto;
    height: 100px;
    display: flex;
    text-align: center;
    color: var(--light);
    background-color: var(--dark);
    border: 20px;
}

#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.portfolio-card {
    min-height: 200px;
    min-width: 200px;
    margin: 1%;
    border: 20pt;
    border-color: var(--highlight);
    text-align: center;
    color: var(--light);
    background-color: var(--dark);
}

/* Footer Style */

/* why can't i get the row to show up on the right? */
footer {
    padding: 2%;
    background-color: var(--dark);
    color: var(--highlight);

.footlist {
    display: flex;
    flex-direction: row;
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
}

.footlist li {
    padding: 10px;
}
/* Footer Style */