
/* Overall Style */
:root {
    --dark: darkslategrey;
    --secondaryDark: navy; 
    --highlight: orange;
    --light: white;
}
/* Overall Style */


/* Header Styling */
header {
    padding: 80px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--dark);
    color: var(--highlight);
}

header h1 {
    display: inline-block;
    float: left;
    font-size: 50px;
    margin: auto;
}

header nav {
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    margin: auto;
    color: var(--light);
    padding: 10px;
    display: inline-box;
    float: right;
}

/* About Section styling */

#about {
    padding: 5%;
    margin: auto;
    background-color: var(--secondaryDark);
    color: var(--light)
}

#about h2 {
    float: left;
    margin-right: 10%;
}

#about h2 p {
    float: right;

}


/* Portfolio Styling */

#portfolio {
    padding: 10%;
    font-family: 'Times New Roman', Times, serif;
}

#portfolio h2 {
    margin: auto;
    margin-right: 2%;
    border: 5px;
    min-height: 100px;
    min-width: 100px;
    border-color: var(--highlight);
    background-color: var(--dark);
    color: var(--light);
}

#portfolio ul {
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin-left: 5%;
    list-style-type: none;
}

.portfolio-card {
    height: auto;
    width: auto;
    min-height: 200px;
    min-width: 200px;
    margin: auto+2px;
    padding: 20px;
    background-color: var(--secondaryDark);
}

.portfolio-card h3 {
    justify-content: center;
    color: var(--light);
    background-color: var(--dark);
}

.portfolio-card p {
    justify-content: center;
    margin: auto;
    color: var(--light);
}

/* footer style */


footer ul {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    background-color: var(--dark);
    color: var(--highlight);
}

footer ul li {
    padding: 1%;
    font-size: 20px;
}